<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Our catalog</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newCourse()">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Title</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding "><strong> We purpose this new courses :</strong></div>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>Item 1</ion-item>
    </ion-list>
  </ion-content>
</ion-content>